body {
    background-color: #444142;
}

html {
    font-family: Poppins;
}

h2 {
    color: #CF6AB6;
    display: flex;
    font-size: 45px;
    align-items: center;
    margin: 0;
    font-family: Figtree;
    font-weight: bold;
}

a {
    background-color: #FFEFFC;
    font-family: Poppins;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

h2 img {
    margin-right: 10px;
    height: 120px;
    align-items: left;
    justify-content: left;
}

#user {
    margin-left: auto;
    height: 50px;
}

h3 {
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Figtree;
    font-size: 35px;
    color: #CF6AB6;
}

#divlogin,
#registroPalabras,
#contenidoreglas {
    background-color: #FFEFFC;
    font-family: Poppins;
}

#pantallaPrincipal,
#divPantallaPrincipal {
    background-color: #FFEFFC;
    font-family: Poppins;
    height: 300px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#pantallaPrincipal {
    margin-top: 15%;
}

#divPantallaPrincipal {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ingresar,
#registrarse, #enviarPalabra, #mostrarTabla{
    background-color: #444142;
    border-color: #444142;
    color: white;
    font-family: Poppins;
}

#username, #password, #dni, #definicion, #palabra, #cantidadLetras {
    background-color: #c4c1c1; /* cacici */
}

#reglas, #jugar, #volveraprincipal  {
    color: white;
    background-color: #797373; 
    display: flex;
    justify-content: center;   
    width: auto;
    padding: 5px 10px;
}
#divvolveraprincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}


#logout {
    background-color: #CF6AB6;
    display: flex;
    justify-content: end;
    width: auto; 
    padding: 5px 10px; 
}
#divLogOut {
    display: flex;
    align-items: right;
    justify-content: right;
}

#divreglas, #divJugar {
    display: flex;
    justify-content: center;
}

input.cuad{
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
    border-radius: 15px;
    border: none;
    background-color: #797373;
}

#fila1, #fila2, #fila3, #fila4, #fila5{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#user {
    width: 50px;
    height: 50px;
    background: url('images/user.png') no-repeat center center;
    background-size: cover;
    border: none; 
    cursor: pointer;
    float: right; 
}