body {
    background-color: #444142;
}

html {
    font-family: Poppins;
}

h2 {
    color: #CF6AB6;
    display: flex;
    font-size: 45px;
    align-items: center;
    margin: 0; /* Elimina cualquier margen predeterminado */
    font-family: Figtree;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0; /* Elimina cualquier padding izquierdo */
}

h2 img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    height: 120px;
    align-items: left;
    justify-content: left;
}

#user {
    margin-left: auto;
    height: 50px; /* Ajusta el tamaño de la imagen si es necesario */
}

h3 {
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Figtree;
    font-size: 35px;
    color: #CF6AB6;
}

#divlogin,
#registroPalabras {
    background-color: #FFEFFC;
    font-family: Poppins;
}

#pantallaPrincipal,
#divPantallaPrincipal {
    background-color: #FFEFFC;
    font-family: Poppins;
    height: 300px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    margin: 0 auto; /* Centra horizontalmente dentro del contenedor padre */
}

#divPantallaPrincipal {
    width: 85%;
    height: 200px;
    display: flex;
    flex-direction: column; /* Para que los elementos estén uno encima del otro */
    align-items: center; /* Para centrar los elementos horizontalmente */
    justify-content: center; /* Para centrar los elementos verticalmente */
}



#ingresar,
#registrarse, #enviarPalabra, #mostrarTabla{
    background-color: #444142;
    border-color: #444142;
    color: white; /* Para que el texto de los botones sea blanco */
    font-family: Poppins;
}

#username, #password, #dni, #definicion, #palabra, #cantidadLetras {
    background-color: #c4c1c1;
}

#reglas, #jugar  {
    color: white;
    background-color: #797373; 
    display: flex;
    justify-content: center;   
    width: auto; /* Ajusta automáticamente el ancho basado en el contenido */
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
}

#logout {
    background-color: #CF6AB6;
    display: flex;
    justify-content: right;
    width: auto; /* Ajusta automáticamente el ancho basado en el contenido */
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
}

#divLogOut {
    display: flex;
    justify-content: right;
}

#divreglas, #divJugar {
    display: flex;
    justify-content: center;
}

input.cuad{
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
}

#fila1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}