body {
    background-color: #444142;
}

html {
    font-family: Poppins;
}

h2 {
    color: #CF6AB6;
    display: flex;
    font-size: 45px;
    align-items: center;
    margin: 0; /* Elimina cualquier margen predeterminado */
    font-family: Figtree;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0; /* Elimina cualquier padding izquierdo */
}

h2 img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    height: 120px;
    align-items: left;
    justify-content: left;
}

#user {
    margin-left: auto;
    height: 50px; /* Ajusta el tamaño de la imagen si es necesario */
}

h3 {
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Figtree;
    font-size: 35px;
    color: #CF6AB6;
}

#divlogin,
#registroPalabras {
    background-color: #FFEFFC;
    font-family: Poppins;
}

#ingresar,
#registrarse, #enviarPalabra {
    background-color: #444142;
    border-color: #444142;
    color: white; /* Para que el texto de los botones sea blanco */
    font-family: Poppins;
}

#username, #password, #dni, #definicion, #palabra, #cantidadLetras {
    background-color: #c4c1c1;
}

#reglas {
    background-color: #797373;
    display: flex;
    width: auto; /* Ajusta automáticamente el ancho basado en el contenido */
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
}

#divreglas {
    display: flex;
    align-items: right;
    justify-content: right;
}